@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("New Container", "CreateNew", "TmpContainers", null, new { @class = "btn btn-danger", id = "CreateContainer" })

<div class="space20" />

@Html.Action("Upload", "TmpImportFromExcel")

<div class="form-horizontal" id="CreateEditContainer">
    @Html.Action("EditContainer", "TmpContainers")
    @*  @Html.Partial("~/Views/Containers/Edit.cshtml", Model.Container)*@
</div>





@Html.Action("Index", "TmpContainerItems")

<br/>






<style>
    .menu-item {
        padding:10px;
        margin-right:10px;
        background: #EFEFEF;
      
    }
</style>