@model HK.ViewModels.PackingListVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <img id="loading" src="~/Content/images/loading.gif" />
    <a class="btn btn-danger" id="CreateNewContainer">New Container</a>
        <div class="form-horizontal" id="CreateEditContainer">
            @Html.Action("EditContainer", "Containers", Model.Container)
            @*  @Html.Partial("~/Views/Containers/Edit.cshtml", Model.Container)*@
        </div>

        <div id="PackingList">
            @Html.Partial("List")
        </div>

    <div id="AddContainerItemForm" class="row">
        <div class="col-md-6">
            <h2>Add Item</h2>
            @Html.Action("CreateAndView", "ContainerItems")
        </div>
        <div class="col-md-6">

                <h2>Import From Excel</h2>
                   @Html.Action("Upload", "ImportFromExcel")
      
                <div id="ImportTemplate">
                    @Html.ActionLink("Download Import Template", "PackingListImportTemplateExcel", "ImportFromExcel", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>

</div>
